{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/main.css">
        <title>Code Digger Go</title>

        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    </head>
    <body>
        {{ template "form" . }}
    </body>
</html>

{{ end }} 

{{ block "form" . }}
<form hx-post="/ftp">
    host:       <input type="text" name="host" /> 
    user:       <input type="text" name="user" /> 
    password:   <input type="text" name="password" /> 
    terms:      <input type="text" name="terms" />
</form>
{{ end }}
