{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    </head>
    <body>
        {{ template "form" .Form }}
        <hr />
        {{ template "display" .Data }}
    </body>
</html>

{{ end}} {{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/contacts">
    name:
    <input
        {{
        if
        .Values.name
        }}
        value="{{ .Values.name }}"
        {{
        end
        }}
        type="text"
        name="name"
    />
    email:
    <input
        {{
        if
        .Values.email
        }}
        value="{{ .Values.email }}"
        {{
        end
        }}
        type="text"
        name="email"
    />

    {{ if .Errors.email }}
    <div style="color: red">{{ .Errors.email }}</div>
    {{ end }}
    <button type="submit">Add Contact</button>
</form>

{{ end }} {{ block "display" . }}
<div id="contacts" style="display: flex; flex-direction: column">
    {{ range .Contacts }}
    <div>Name: <span>{{ .Name }}</span> Email: <span>{{ .Email }}</span></div>
    {{ end }}
</div>
{{ end }}
